.DS_Store
prepros.cfg

web/index.html
web/static

viewsCompiled
node_modules
bower_components
libs
/.idea
/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/build/
/vendor/
/composer.phar
.hosts
.pid
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php