<html>
<h1 style='margin: auto; width: 97%; padding: 10px; background: #539dc2; color: white;'>Stacja pogodowa Skałągi</h1>
<div style='margin: 12px auto; background: #ddd; width: 92%; padding: 25px; font-size: 40px'>
    Witaj {{ email }}! Dziękujemy, że nam ufasz.
    <div style="font-size: 22px; margin-top: 35px;">
        Od teraz będziesz otrzymywał powiadomienia pogodowe. Ostrzeżenia natychmiast po ich wydaniu oraz wiele innych przydatnych infomacji.
        <br/><br/><br/>
            <span style='float: right; margin-top: 55px;'>
                Wysłano przez <a href="http://pogoda.skalagi.pl" style='color: #539dc2; text-decoration: none; background: #ccc; padding: 5px; border-radius: 3px'>stacje meteo Skałągi</a>
            </span>
    </div>
</div>
</html>
